/*Elements used exclusively on board pages*/
#linkPrevious:before {
  font-family: fontello;
  content: "\e832";
  margin: 0 0.25em;
}

#linkPrevious, #linkNext {
  vertical-align: middle;
}

#linkNext:after {
  font-family: fontello;
  content: "\e833";
  margin: 0 0.25em;
}

.threadPages a {
  text-decoration: none
}
.collapse{
  cursor: pointer;
  display: block;
  background: #cdf;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
