@import url("fontello.css");

.small {
  font-size: 75%;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

#themeSelector {
  font-size: 100%
}

h3, p, label {
  margin: 0.25em 0;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #33A1FD;
}

a, .navClickable {
  color: #33A1FD;
  text-decoration: none;
  font-variant:small-caps;
}

a:hover, .hideButton:hover, .unhideButton:hover, .embedButton:hover,
  .navClickable:hover, #closeWatcherMenuButton:hover, .watchButton:hover,
  .watchedCellCloseButton:hover, .hideFileButton:hover {
  text-shadow: 0px 0px 5px #117743;
}

.navClickable, .watchButton {
  cursor: pointer
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select, textarea {
  border: 1px double #07371F;
  border-radius: 5px;
  background: #282A2E;
  color: #ACACAC;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
}

input[type=button], input[type=submit], button, .dropzone, .selectedCell {
  border: 3px double #07371F;
  border-radius: 5px;
  background: #16171A;
  color: #ACACAC;
  padding-left: 0.25em;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.title, .unhideButton {
  font-weight: none;
}

.fileBrowser {
  background: none;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
  font-family: 'Open Sans';
  src: url('../OpenSans-Regular.eot');
  src: url('../OpenSans-Regular.eot')
    format('embedded-opentype'), url('../OpenSans-Regular.woff2')
    format('woff2'), url('../OpenSans-Regular.woff') format('woff'),
    url('../OpenSans-Regular.ttf') format('truetype'),
    url('../OpenSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?11899766');
  src: url('../font/fontello.eot?11899766#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?11899766') format('woff2'),
       url('../font/fontello.woff?11899766') format('woff'),
       url('../font/fontello.ttf?11899766') format('truetype'),
       url('../font/fontello.svg?11899766#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* body styles, inherited by whole page */
body {
  color: #ACACAC;
  background: #31393C;
  font-family: 'Open Sans', monospace, sans-serif;
  font-size: 100%;
  margin: 0px;
}

/* header and nav / top of page styles */
header {
  width: 50%;
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #31393C;
  border-bottom: 1px solid #2176FF;
  padding-bottom: 3px;
  font-size: 85%;
  text-align: center;
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.2em;
}

#navLinkSpan {
  float: left;
}

#navOptionsSpan {
  float: right;
}

#navLinkHome:before {
  font-family: fontello;
  content: "\e80e";
  margin-right: 0.25em;
}

#navBoardList:before {
  font-family: fontello;
  content: "\f0e6";
  margin-right: 0.25em;
}

#linkOverboard:before, #navOverboard:before {
  font-family: fontello;
  content: "\e800";
  margin-right: 0.25em;
}

#navPosting:before {
  font-family: fontello;
  content: "\f128";
  margin-right: 0.25em;
}

#navCatalog:before {
  font-family: fontello;
  content: "\e802";
  margin-right: 0.25em;
}

#linkRss:before {
  font-family: fontello;
  content: "\f09e";
  margin-right: 0.25em;
}

#linkTop:before {
  font-family: fontello;
  content: "\e831";
  margin-right: 0.25em;
}

#linkBottom:before {
  font-family: fontello;
  content: "\e830";
  margin-right: 0.25em;
}

#linkBack:before {
  font-family: fontello;
  content: "\e832";
  margin-right: 0.25em;
}

/* board list */
#divPages {
  display: inline-block;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
}

a.rules:after {
  font-family: fontello;
  content: "\e822";
  margin-right: 0.5em;
  color: #117743;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  color: #ACACAC;
  background: none;
}

.red {
  color: #117743;
}

/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

#settingsFieldset {
  border: 1px dashed #117743;
  padding: 1em;
  display: inline-block;
  text-align: left;
}

#settingsWrapper input {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

#settingsFieldset label {
  display: block;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 80%;
}

input.wide, textarea.wide {
  width: 100%;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

#staticPageFieldset {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px dashed #117743;
  text-align: left;
}

/* footer styles */
footer {
  width: 100%;
  margin: 3em 0px 2em 0px;
  text-align: center;
  font-size: 75%;
}

/* this has to go down here to override anything above it */
.hidden {
  display: none;
}

#settingsWrapper input.hidden {
  display: none;
}
