@import url("fontello.css");
/*Elements exclusive to the front-page*/
#indexWrapper {
  width: 80%;
  margin: 2em auto;
}

#logoBox {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: center;
}

#infoBox {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 1em auto 2em;
  font-size: 120%;
}

#links, #divStats {
  padding: 0.5em;
  text-align: center;
  font-variant: small-caps;
}

#links a {
  text-decoration: none;
}

#linkLogs:before {
  font-family: fontello;
  content: "\f188";
  margin-right: 0.25em;
}

#linkGraphs:before {
  font-family: fontello;
  content: "\f0ce";
  margin-right: 0.25em;
}

#linkAccount:before {
  font-family: fontello;
  content: "\e808";
  margin-right: 0.25em;
}

#linkGlobalRules:before {
  font-family: fontello;
  content: "\e822";
  margin-right: 0.25em;
}

#linkAbout:before {
  font-family: fontello;
  content: "\e80d";
  margin-right: 0.25em;
}

#linkEngine:before {
  font-family: fontello;
  content: "\f135";
  margin-right: 0.25em;
}

#linkLinks:before {
  font-family: fontello;
  content: "\e80f";
  margin-right: 0.25em;
}

#linkContact:before {
  font-family: fontello;
  content: "\f0e0";
  margin-right: 0.25em;
}

.topBoards {
  width: 100%;
  text-align: center;
  margin: 1em 0px;
}

.topBoards a {
  padding: 0.25em 0.5em;
  background: #282A2E;
  text-decoration: none;
  margin: 0.5em 0.25em;
  border-radius: 5px;
  display: inline-block;
  font-size: 90%;
}

.topBoards br {
  display: none;
}

#divLatestPosts {
  width: 100%;
  margin: 1em;
  text-align: center;
}

#divLatestPosts .latestPostCell {
  display: inline-block;
  overflow: hidden;
  padding: 0.5em;
  background: #31393C;
  margin: 0.5em;
  max-width: 15%;
  max-height: 15em;
  font-size: 80%;
  border: 1px solid #2176FF;
  border-radius: 3px;
  vertical-align: middle;
}

.latestPostCell a {
  display: block;
}

#divLatestImages {
  margin: 0 auto;
  text-align: center;
}

#divLatestImages .latestImageCell {
  display: inline-block;
  max-width: 15%;
  margin: 0 0.5em;
  vertical-align: middle;
}

#divLatestImages img {
  max-width: 100%;
  padding: 5px;
  background: #282A2E;
  border-radius: 5px;
}
