/*Elements that show on threads on both catalogs and regular posting places*/
.lockIndicator:before {
  font-family: fontello;
  content: "\e811";
  color: #A00;
}

.pinIndicator:after {
  font-family: fontello;
  content: "\e813";
  color: #A00;
}

.cyclicIndicator:after {
  font-family: fontello;
  content: "\f110";
  color: #A00;
}

.bumpLockIndicator:after {
  font-family: fontello;
  content: "\e0db";
  color: #A00;
}

.contentAction label, .contentAction img {
  display: block;
}
