#watcherButton::before {
  font-family: 'fontello';
  content: '\f08e';
  margin-right: 0.25em;
}

.watchButton::before {
  font-family: 'fontello';
  content: '\e82e';
}

#closeWatcherMenuButton::before, .close-btn::before, .watchedCellCloseButton::before
  {
  font-family: 'fontello';
  content: '\e82f';
}

.watchedCell {
  display: table;
  width: 100%;
}

.watchedCellLabel {
  display: table-cell;
  width: 90%;
}

.watchedMenuLabel {
  font-size: 80%
}

.watchedNotification::before {
  font-family: 'fontello';
  content: '\f0e5';
  margin-left: 0.25em;
  color: #A00;
}
